
.pays{
    color: red;
    display: flex;
    justify-content: center;
    border-bottom: 4px solid#4ed85c;
    padding-bottom: 3%;
}

.présentation,
.plat,
.activité{
    height: 300px;
    padding: 20px;
    display: flex;
    border-bottom: 4px solid#4ed85c;
    
}

.présentation{
    margin-top: -2%;
}



.articleprésentation,
.articleplat,
.articleactivité{
    display: inline-block;
    text-align: center;
    height: 400%;
    width: 100%;
    margin-top: -20px;
    
}
.imageprésentation,
.imageplat,
.imageactivité {
    width: 70%;
    height: 100%;
    padding-left: 15%;
  }

 .soustitre{
    color: blue;

