body {
    margin:0;
    font-family: 'Red Rose', cursive;
}

nav,
.listNav,
.btnNav {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
}

nav {
  background-color: #494949;
  padding-top: 1%;
}

.btnNav {
  text-decoration: none;
  padding-left:20px;
  padding-right:20px;
  justify-content: center;
  align-items: center;
}

.btnNav:hover {
    background-color:#494949;
    border-bottom: 2px solid #4ed85c;
}
.titleNav {
    color:#4ed85c;
}
.linkNav {
  text-decoration: none;
  color:black;
}
.listNav {
    list-style: none;
    background-color: #4ed85c;
    margin-left: 2%;
    padding-left: 0;
margin-right: 2%;
}


/*Debut homepage*/
/*Debut mobile*/
/*Banner*/
.banner{
  width: 100%;
  position: relative;
}
.banner_title{
  position: absolute;
  font-size: 1.5em;
  top: 30%;
  margin-left: 5%;
  padding: 0 10px;
  transform: translate(0, -50%);
  text-align: center;
  color: #4ed85c;
  background-color:rgba(0, 0, 0, 0.4);
}
.banner_text{
position: absolute;
font-size: 1.2em;
top: 45%;
margin-left: 5%;
padding: 0 10px;
transform: translate(0, -50%);
text-align: center;
color: white;
background-color:rgba(0, 0, 0, 0.4);
}
#logo {
    width: 100%;
    height: 200px;
  }
/*Body*/
  .titre {
    display: flex;
    justify-content: center;
  }
  .text {
    margin: 1% 5%;
  }
  .line{
    border-top: 2px solid#4ed85c;
    border-bottom: 2px solid#4ed85c;
  }
/*Articles*/
  .articles{
    background-color: #525252;
    margin-top: -15%;
  }
  .cards {
    display: flex;
    flex-direction: column;
    margin: 15% 15%;
  }
  .card_content {
    width: 100%;
    border: 3px solid #4ed85c;
    position: relative;
    margin-top: 15%;
    height: 530px;
  }
  .card_picture img {
    height: 100%;
    display: block;
    width: 100%;
  }
  .card_picture {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .card_title{
    position: absolute;
    font-size: 1em;
    top: 80%;
    margin-left: 45%;
    padding:0 10px;
    transform: translate(0, -50%);
    text-align: center;
    color: #4ed85c;
    background-color:rgba(0, 0, 0, 0.4);
  }
  .btn {
    position: absolute;
    font-size: 1em;
    top: 90%;
    padding: 2px;
    margin-left: 45%;
    transform: translate(0, -50%);
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 15px;
    background-color: #4ed85c;
  }
  /*debut desktop*/
  @media (min-width: 1024px) {
    .cards {
      flex-direction: row;
      justify-content: center;
      margin: 15% 15%;
    }
    .card_content{
      margin: 2% 4%;
    }
    }
/*Fin homepage*/

.pays{
    color: red;
    display: flex;
    justify-content: center;
}

.présentation,
.plat,
.activité{
    height: 300px;
    padding: 20px;
    display: flex;
    border-top: 2px solid#4ed85c;
    border-bottom: 2px solid#4ed85c;
    
}
.articleprésentation,
.articleplat,
.articleactivité{
    display: inline-block;
    text-align: center;
    height: 400%;
    width: 100%;
    margin-top: -20px;
    
}
.imageprésentation,
.imageplat,
.imageactivité {
    width: 50%;
    height: 100%;
    padding-left: 20%;
  }
